data/*
.DS_Store
# CSV file
data.csv
combined_data.csv
cleaned_arxiv.csv
scopus_unexplode_data.csv
arxiv_dataset.csv

*.rar
*.json
*.pyc
.env
test.ipynb

qdrant_storage/*
*.log
*.csv
tmp.txt

*.snapshot